// vou importar todos os arquivos .scss criados nesse arquivo,
// e depois irei subir apenas ele, que jรก contem todos os outros scss
@import './styles.scss';
@import './variables.scss';

// importing core styling file
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";

// our project needs Solid + Brands
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";

// bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./bootswatch.scss";
@import "./custom.scss"